
/* Core styles */
.body{
    font-family: sans-serif;
}
.container{
    width: 1120px;
    margin: 0 auto;
}
.to-uppercase{
    text-transform: uppercase;
}
.clearfix{
    clear: both;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title{
    color: #05364D;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 50px;
}
.button{
    border: none;
    background-color: #1c44e4;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}
.blur-line{
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.9);
    filter: blur(4px);
    border-radius: 4px;
}
/* Main Header styles */
.header-logo{
  display: inline-block;
  vertical-align: middle;
}
.header-logo img{
  width: 64px;

}
.main-header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);

}
.main-navigation{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:500;
}
.main-navigation__item a{
    text-decoration: none;
    color: #05364D;
}
.main-navigation__item a:hover{
    color: #efb6df;
}
.main-navigation__item.active a{
    color: #ec6a8a;
}

/* Main Section styles */
.main-section{
    padding: 100px 30px;
}
.main-section > div{
 width: 50%;
 float: left;
}
.main-section__image{
    text-align: right;
}
.main-section__welcome{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;

}
.main-section__introduction{
margin-top: 20px;
margin-bottom: 20px;
font-size: 60px;
font-weight: 500;
color: #05364D;
}
.main-section__position{
color: #05364D;
font-size: 24px;
font-weight: 300;
margin-bottom: 30px;
}
.main-section__action{
    margin-top: 30px;

}
/* statsistics section styles */
.statistics{
    padding: 100px 30px;
}
.statistics__item{
    width: 150px;
    display: inline-block;
    background-color: #f8faff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}
.statistics__number{
    font-size: 27px;
    color: #550bc5;
    margin-bottom: 5px;
}
.statistics__title{
    color: #797979;
    font-size: 16px;
    font-weight: 300;
}

.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}
.main-section__social-networks a:hover i{
    color: #1c44e4;
}
/* About me section styles */
.about-me{
    padding: 100px 0;
}
.about-me > div{
    width: 50%;
    float: left;
    
}
.about-me__image img{
    width: 90%;
    
}

.about-me__description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
.about-me__action{
    margin-top: 40px;
}
/* Services section styles */
.services{
    padding: 100px;
}
.service-card{
    padding: 60px 30px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
}
.service-card__title{
   
    margin-bottom: 20px;
    color: #05364D;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.service-card__description{
    color: #797979;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
}
.service-card__link{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
}
.service-card:hover{
    background-color: #1c44e4;
}
.service-card:hover.service-card__title,
.service-card:hover.service-card__description,
.service-card:hover.service-card__link{
    color: #ffffff;
}



/* Portfolio section styles */
.portfolio{
    padding: 100px 0;
}
.portfolio__item{
    position: relative;
    display: inline-block;

}
.portfolio-item__overlay{
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(19,69,230,0.9);
}
.portfolio-item__info{
    position: relative;
    bottom: 14px;
    left: 80px;
}
