

/* Main Section styles */
.main-section{
    padding: 100px 30px;
}
.main-section > div{
 width: 50%;
 float: left;
}
.main-section__image{
    text-align: right;
    
}
.main-banner{
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 890px;

}


.main-section__welcome{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;

}
.main-section__introduction{
margin-top: 20px;
margin-bottom: 20px;
font-size: 60px;
font-weight: 500;
color: #05364D;
}
.main-section__position{
color: #05364D;
font-size: 24px;
font-weight: 300;
margin-bottom: 30px;
}
.main-section__action{
    margin-top: 30px;

}
.main-section__social-networks a{
    color: #8fa1aa;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}
.main-section__social-networks a:hover i{
    color: #1c44e4;
}
/* statsistics section styles */
.statistics{
    padding: 100px 30px;
}
.statistics__item{
    width: 150px;
    display: inline-block;
    background-color: #f8faff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
    background: linear-gradient(90deg,#1345eb 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.statistics__number{
    font-size: 27px;
    color: #550bc5;
    margin-bottom: 5px;
}
.statistics__title{
    color: #797979;
    font-size: 16px;
    font-weight: 300;
}


/* About me section styles */
.about-me{
    padding: 100px 0;
}
.about-me > div{
    width: 50%;
    float: left;
    
}
.about-me__image img{
    width: 90%;
    
}

.about-me__description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
.about-me__action{
    margin-top: 40px;
}
/* Services section styles */
.services{
    padding: 100px;
}
.service-card{
    padding: 60px 30px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
}
.service-card__title{
   
    margin-bottom: 20px;
    color: #05364D;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.service-card__description{
    color: #797979;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
}
.service-card__link{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
}
.service-card:hover{
    background-color: #1c44e4;
}
.service-card:hover.service-card__title,
.service-card:hover.service-card__description,
.service-card:hover.service-card__link{
    color: #ffffff;
}

/* Clients section styles */
.clients{
    padding-top: 100px;
}
.client-item > div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-item__image img{
    width: 100%;
}
.client-item__info{
    padding-top: 50px;
    padding-left: 50px;
}
.client-item__name{
    font-size: 20px;
    margin-bottom: 4px;
}
.client-item__position{
    color: #5b6d75;
    font-size: 14px;
    font-weight: 300;
}
.client-item__review{
    color: #5b6d75;
    font-size: 14px;
    font-weight: 300;
}
.client-item__rate{
    color: yellow;
    font-size: 20px;
    margin-top: 10px;
}
.client-item__rate.disabled{
    color: violet;
}
/* Portfolio section styles */
.portfolio{
    padding: 100px 0;
}
.portfolio__item{
    position: relative;
    display: inline-block;

}
.portfolio-item__overlay{
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(19,69,230,0.9);
}
.portfolio-item__info{
    position: relative;
    bottom: 14px;
    left: 80px;
}

/* Blog section styles */

blog{
    padding-top: 100px;
}

.blog-items{
    margin-bottom: 50px;
}

.blog-item{
    width: 30%;
    display: inline-block;
    margin-right: 3%;
    box-sizing: border-box;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 56 77 / 10%);
}
.blog-item:hover .blog-item__info{
    background-color: white;
}
.blog-item__image img{
    width: 100%;
}
.blog-item__info{
    color: #797979;
    background-color: #f8faff;
    padding: 30px;
}
.blog-item__main-info{
    margin-bottom: 14px;

}
.blog-item__date{
    margin-right: 10px;
}
.blog-item__title{
    margin-bottom: 10px;
    color: #05364D;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.blog-item__main-info i{
    margin-right: 5px;
}
.blog-item__main-info span{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}
.blog-item__title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364D;
    font-weight: 700;
}
.blog-item__description{
    color: #797979;
    font-size: 15px;
    font-weight: lighter;
    line-height: 27px;
}
.blog-item__learn-more{
    color: #05364D;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.blog-item__learn-more:hover{
    color: #ed239f
}



/* /Blog section styles */

/* Partners section styles */
.partners{
    padding: 100px;
}
.partner{
    display: inline-block;
    padding: 0 30px;
}
.partner img{
    width: 110px;
    height: 110px;
    object-fit: cover;
} 

@media only screen and (max-width: 991px) {
    .main-banner{
        background: none;
          min-height: auto;
    }
      .main-section__image{
        display: none;
    } 
    .main-section > div{
        width: 100%;
    }
    .statistics{
        width: 100%;
        padding-top: 1rem;
    }
    /* About me section styles */
    .about-me{
        padding: 2rem 1.5rem;
    }
    .about-me > div{
        width: 100%;
    }
    .about-me__image {
        display: none;
    }
    /* Services section styles */
    .services{
        padding: 2rem 1.5rem;
    }
    .service-card{  
        width: 45%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
     
    /* Clients section styles */
    
      .clients-item > div{
        width: 96%;
        float: none;
        
    }
    .client-item__image{
        padding: s;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    }
    /* Blog section styles */
    .blog{
        padding: 1.5rem 0rem;

    }
    .blog-item{
        width: 45%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    /* Partners section styles */
    .partners{
        padding: 1.5rem 0rem;
    }
    .partner{
        
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 0px;
        text-align: center;
    }

}

@media only screen and (max-width: 767px){
  .main-banner{
      background: none;
        min-height: auto;
  }
    .main-section__image{
      display: none;
  }  
  .main-section__action{
    display: none;
  }
    .main-section > div{
        width: 100%;
    }
    .main-navigation{
        display: none;
    }
    .header-logo img{
        width: 50px;
        
    }
    .main-navigation{
        display: none;
        text-align: center;
    }
    .container{
        width: 96%;
    }
    .statistics__item{
        width: 100%;
        margin-bottom: 20px;
    }
     /* About me section styles */
     .about-me{
        padding: 2rem 1.5rem;
    }
    .about-me > div{
        width: 100%;
    }
    .about-me__image {
        display: none;
    }
    /* Services section styles */
    .service-card{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
  
    /* Blog section styles */
    .blog{
        padding: 1.5rem 0rem;
        margin-right: 0px;
    }
    .blog-item{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    /* Partners section styles */
    .partners{
        padding: 1.5rem 0rem;
    }
    .partner{
        
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 0px;
        text-align: center;
    }
    /* Footer styles */
  
}