.body{
    font-family: sans-serif;
    margin: 0px;
}
.container{
    width: 1120px;
    margin: 0 auto;
}
.to-uppercase{
    text-transform: uppercase;
}
.clearfix{
    clear: both;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title{
    color: #05364D;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 50px;
}
.button{
    border: none;
    background: linear-gradient(to right, #1345eb 0%, #ed239f 51%, #1345eb 100%);
    background-size: 200% auto;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover{
    background-position: right center;
}
.blur-line{
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.9);
    filter: blur(4px);
    border-radius: 4px;
}
/* Main Header styles */
.header-logo{
  display: inline-block;
  vertical-align: middle;
}
.main-banner{
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 890px;

}
.header-logo img{
  width: 64px;

}
.main-header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);

}
.main-navigation{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:500;
}
.main-navigation__item a{
    text-decoration: none;
    color: #05364D;
}
.main-navigation__item a:hover{
    color: #efb6df;
}
.main-navigation__item.active a{
    color: #ec6a8a;
}